.prisme {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  position: relative;

  .articles {
    display: flex;
    flex-direction: column;
    padding: 6em 1em 1em 1em;
    position: relative;
    z-index: 1;
  }
}
