:root {
  --green: #5bbeaa;
  --darkgreen: #3ca690;
  --beige: #e7e4dd;
  --black: #000000;
  --blue: #005c8b;

  @custom-media --mobile-viewport only screen and (max-width: 569px);
  @custom-media --mobile-viewport-landscape (orientation: landscape) and (max-width: 569px);
  @custom-media --desktop-viewport (min-width: 569px);
}
