:root {
  --cyan: #2FB2A5;
  --orange: #EC6251;
  --green: #68BB8B;
  --yellow: #F9BF5D;
  --salmon: #F39C84;

  @custom-media --mobile-viewport only screen and (max-width: 569px);
  @custom-media --mobile-viewport-landscape (orientation: landscape) and (max-width: 569px);
  @custom-media --desktop-viewport (min-width: 569px);
}
