.nextPrisme {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 8;

  .dot {
    text-decoration: none;
    display: block;
    width: 0.7em;
    height: 0.7em;
    background-color: var(--gray);
    margin: 0.3em;
    border-radius: 50%;

    &.active {
      background-color: var(--yellow);
    }
  }
}
