.prismes {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  img {
    position: absolute;
    z-index: 1;

    &.top {
      top: 0;
      left: -0.1em;
      width: 100%;
    }

    &.down {
      right: 0;
      bottom: -0.4em;
      width: 100%;
    }

    &.left {
      top: 0;
      left: -0.3em;
      height: 100%;
    }

    &.right {
      bottom: 0;
      right: -0.4em;
      height: 100%;
    }
  }
}
