.single {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1em;

  .photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 90px;
    height: 90px;
    margin-right: 1em;
  }

  .right {
    display: flex;
    flex-direction: column;

    .category {
      color: var(--yellow);
      margin: 0 0 0.2em 0;
    }

    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 1em;
    }

    small {
      margin-top: 0.6em;
      font-size: 0.75em;
      color: var(--gray);

      span {
        color: var(--green);
      }
    }
  }
}
