.splash {
  width: 100vw;
  height: 100vh;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 0;

  h1 {
    font-weight: 200;
    color: white;
    font-size: 3em;
    margin: 10px 0;
  }

  .sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 3em auto;

    .sk-cube {
      width: 33%;
      height: 33%;
      background-color: white;
      float: left;
      animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube1 {
      animation-delay: 0.2s;
    }

    .sk-cube2 {
      animation-delay: 0.3s;
    }

    .sk-cube3 {
      animation-delay: 0.4s;
    }

    .sk-cube4 {
      animation-delay: 0.1s;
    }

    .sk-cube5 {
      animation-delay: 0.2s;
    }

    .sk-cube6 {
      animation-delay: 0.3s;
    }

    .sk-cube7 {
      animation-delay: 0s;
    }

    .sk-cube8 {
      animation-delay: 0.1s;
    }

    .sk-cube9 {
      animation-delay: 0.2s;
    }
  }
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  } 35% {
    transform: scale3D(0, 0, 1);
  }
}
