.splash {
  width: 100vw;
  height: 100vh;
  background-color: var(--cyan);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  z-index: 0;

  .zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    img {
      width: 32vw;
    }
  }

  .prisme {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .top {
      position: absolute;
      top: 0;
      left: -0.1em;
      width: 100%;
    }

    .down {
      position: absolute;
      right: 0;
      bottom: -0.4em;
      width: 100%;
    }

    .left {
      position: absolute;
      top: 0;
      left: -0.3em;
      height: 100%;
    }

    .right {
      position: absolute;
      bottom: 0;
      right: -0.4em;
      height: 100%;
    }
  }
}
