.single {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.95em;

  &:last-of-type {
    margin-bottom: 0;
  }

  .photo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 75px;
    height: 75px;
    margin-right: 1em;
  }

  .right {
    display: flex;
    flex-direction: column;

    span {
      margin: 0 0 0.2em 0;
      font-weight: 400;
      font-size: 0.75em;
      color: black;
    }

    h5 {
      margin: 0;
      font-weight: 400;
      font-size: 0.85em;
      color: white;
    }

    small {
      margin-top: 0.6em;
      font-size: 0.75em;
      color: black;

      span {
        color: var(--orange);
      }
    }
  }
}
