@import '../../styles/shared/variables.css';

.signin {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1em;
  box-sizing: border-box;
  height: 100vh;
  background-color: white;

  .logo {
    width: 32vw;
    margin-top: 4em;
  }

  footer {
    width: 100%;
    text-align: center;
    color: #DDD;
    font-size: 0.8em;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;

    .group {
      width: 100%;
      box-sizing: border-box;
      position: relative;
      z-index: 0;

      .icon {
        position: absolute;
        top: 10px;
        left: 6px;
        max-height: 1.1em;
        z-index: 1;
      }

      input {
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: none;
        margin-bottom: 2em;
        border-bottom: 1px solid #DDD;
        padding: 10px 15px 10px 35px;

        &:focus {
          border-bottom: 1px solid #333;
        }
      }
    }

    button {
      width: 100%;
      margin-bottom: 1em;
      box-sizing: border-box;
      padding: 10px 15px;
      outline: none;
      border: 2px solid var(--green);
      background-color: transparent;
      border-radius: 20px;
    }

    small {
      a {

      }
    }
  }
}
