.prismes {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;
  background-color: white;

  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    text-align: center;

    &.top {
      top: 7%;
      left: 59%;
    }

    &.left {
      top: 79%;
      left: 3%;
    }

    &.right {
      bottom: 24%;
      right: 4%;
    }

    &.down {
      bottom: 8%;
      right: 27%;
    }
  }
}
