.prismes {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 0;

  a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    text-align: center;

    &.top {
      top: 8%;
      left: 62%;
    }

    &.left {
      top: 79%;
      left: 4%;
    }

    &.right {
      bottom: 24%;
      right: 4%;
    }

    &.down {
      bottom: 7%;
      right: 31%;
    }
  }

  img {
    position: absolute;
    z-index: 1;

    &.top {
      top: 0;
      left: -0.1em;
      width: 100%;
    }

    &.down {
      right: 0;
      bottom: -0.4em;
      width: 100%;
    }

    &.left {
      top: 0;
      left: -0.3em;
      height: 100%;
    }

    &.right {
      bottom: 0;
      right: -0.4em;
      height: 100%;
    }
  }
}
